name: Build wl-clipboard
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Setup python
        uses: actions/setup-python@v4
      - name: Build project
        uses: BSFishy/meson-build@v1.0.3
        with:
          action: build
